body {
	margin: 0px;
	background-color: rgb(43, 39, 39);
}

a {
	text-decoration: none;
}

#canvas {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
}

.navigation {
	text-transform: uppercase;
	padding-left: 50px;
	display: flex;
	height: 80px;
	background-color: black;
}

.logo_mtuci {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	height: 60px;
}

.logo_mtuci:hover {
	transition: all 0.4s ease;
	background-color: rgb(69, 27, 109);
	border-radius: 100px;
	transform: scale(1.25);
}

.navigation_buttons {
	display: flex;
	align-items: center;
	padding-left: 60px;
	width: 700px;
	justify-content: space-around;
}

.navigation_button:hover {
	transition: 0.4s;
	background-color: rgb(69, 27, 109);
}

.navigation_button {
	width: 140px;
	height: 40px;
	border: 2px solid rgb(69, 27, 109);
	display: flex;
	justify-content: center;
	align-items: center;
	color: aliceblue;
	border-radius: 10px;
}

.main {
	padding-top: 50px;
	display: flex;
	justify-content: center;
}

.squads_content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 1000px;
}

.container_bam,
.container_contact,
.container_communication,
.container_way,
.container_it {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 250px;
	height: 200px;
	margin-bottom: 100px;
	margin-right: 50px;
	transition: all 0.3s;
	overflow: hidden;
}

.container_bam:hover,
.container_contact:hover,
.container_communication:hover,
.container_way:hover,
.container_it:hover {
	padding-bottom: 80px;
	transform: scale(1.2);
}

.container_bam:hover,
.container_contact:hover,
.container_communication:hover,
.container_way:hover,
.container_it:hover .content_text {
	overflow: visible;
}

.content_logo {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: rgb(69, 27, 109);
	width: 250px;
}

.logo {
	padding-top: 10px;
	width: 120px;
	height: 120px;
}

.content_text {
	display: flex;
	justify-content: center;
	width: 250px;
	background-color: rgb(69, 27, 109);
}

/* body {
	background: #111;
	margin: 0px;
	Зачем margin в rem`ах ? Пока оставил в пикселях min-height тоже убрал,
	мне кажется он тут может какие-то моменты испортить вот это тоже что-то не понял,
	при отключении функции ничего не меняется font-family: Futura, sans-serif;
}


#canvas {
	position: absolute;
	display: block;
	убрал позиционирование,
	ничего не изменилось. Значение absolute,
	всё равно никак не повлияет на другие элементы
}


a {
	text-decoration: none;
	Отменяем подчеркивание у ссылки
} */

/* 
#bam {
	left: 15%;
	width: 11.3%;
	bottom: 40%;
}


#contact {
	left: 42.5%;
	width: 11%;
	bottom: 40%;
}


#svyaz {
	left: 69.5%;
	width: 11%;
	bottom: 40%;
}


#way {
	bottom: 3%;
	left: 28.70%;
	width: 9%;
}


#it {
	bottom: 3%;
	left: 56.25%;
	width: 11%;
}


.blocklogoname {
	width: 3%;
	bottom: 50%;
	position: absolute;
}


.logo {
	width: 41%;
	padding-top: 10px;
}


.container {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


.container .card {
	position: relative;
}


.container .card .face {
	width: 150%;
	height: 200px;
	transition: .2s;
}


.container .card .face.face1 {
	position: relative;
	background: rgba(74, 0, 120, 1);
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	z-index: 1;
	transform: translateY(100px);
} */


/* .container .card:hover .face.face1 {
	transform: translateY(0);
	box-shadow:
		inset 0 0 60px whitesmoke,
		inset 20px 0 80px #f0f,
		inset -20px 0 80px #0ff,
		inset 20px 0 300px #f0f,
		inset -20px 0 300px #0ff,
		0 0 50px #fff,
		-10px 0 80px #f0f,
		10px 0 80px #0ff;
}


.container .card .face.face1 .content {
	opacity: 1;
	transition: 0.5s;
	text-align: center;
}


.container .card:hover .face.face1 .content {
	opacity: 1;
}


.container .card .face.face1 .content i {
	font-size: 3em;
	color: white;
	display: inline-block;

}


.container .card .face.face1 .content h2 {
	font-size: 1em;
	color: white;
	text-align: center;
}


.container .card .face.face1 .content a {
	transition: .5s;
}


.container .card .face.face2 {
	position: absolute;
	background: rgb(225, 176, 255);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
	transform: translateY(-100px);
	position: relative;

} */


/* .container .card:hover .face.face2 {
	индекс блюр на текст
	transform: translateY(0);
	z-index: 200;
}


.container .card .face.face2 .content p,
a {
	font-size: 13pt;
	margin: 0;
	padding: 0;
	color: rgba(20, 20, 20, 1);
}


.container .card .face.face2 .content a {
	*Кнопка Подробнее*
	text-decoration: none;
	color: black;
	font-family: fantasy;
	box-sizing: border-box;
	outline: 1px solid;
	#333;
	padding: 5px;
	margin: 15px 0 0;
	display: inline-block;
}


.container .card .face.face2 .content a:hover {
	background: #333;
	color: whitesmoke;
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}


.navigation {
	background-color: rgba(1, 1, 1, 0.75);
	height: 70px;
	width: 100%;
	display: flex;

} */


/* .navigation_button {
	position: absolute;
	margin-left: 0px;
	display: block;
	color: white;
	font-size: 14px;
	font-family: "montserrat";
	text-decoration: none;
	margin-top: 15px;
	border: 2px solid #8c2ec7;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	overflow: hidden;
	transition: 1s all ease;
	width: 120px;
	text-align: center;

}


#button_feed {
	left: 15%;
}


#button_squads {
	left: 23%;
}


#button_gallery {
	left: 31%;
}


#button_documents {
	left: 39%;
}





.navigation_button::before {
	background: #8c2ec7;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	transition: all 0.2s ease;

} */


/* .navigation_button::before {
	width: 100%;
	height: 0%;
	transform: translate(-50%, -50%) rotate(45deg);

}


.navigation_button:hover::before {
	height: 380%;

}

#logo_mtuci {
	width: 9%;
	position: fixed;
	left: 40px;
	height: 70px;
}

a img {
	border: none;
	width: 100%;
	height: 100%;
}


#logo_mtuci:hover {
	background-color: #4f1970;
	width: 10%;
	height: 80px;
	top: -5px;
	left: 32px;
	border-radius: 40px; */